@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Public sans';
    margin: 0;
}
section.hero-img {
    color: white;
    background-color: rgb(68, 68, 68);
    background-image: url(../images/hero\ img.png);
    text-align: center;
    font-size: 5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5em 1em;
    font-size: auto;
    text-align: left;

}
section.heading {
    display: grid;
    background-color: #003A2C;
}

img.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 13vw;

    margin: 10px;
}

div.gridlayout {
    display: grid;
    /* grid-column: 2; */
}
h2 {
    margin: 0.5em 2%;
    font-size: 3vw;
}
h3 {
    margin: 4%;
    font-size: 2.3vw;
}
h4 {
    margin: 1% 4.5%;
    font-size: 2vw;
}
p {
    margin: 2% 5%;
    font-size: 1.8vw;
    line-height: 1.5em;

}
div.intro {
    display: grid;
}
h2.intro-title {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #003A2C;
}
p.intro-info {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    /* width: 50%; */
}

div.room {
    display: grid;
    
    background-color: #004E42;
    color: white;
   
}
h2.room {
    grid-row-start: 1;
    grid-row-end: 2;
}
div.room-image{
    margin: 0 2%;
    display: grid;
    grid-template-columns: 14.64% 27.45% 27.45% 27.45%;
    column-gap: 1%;
    align-items: center;

}
img.room {
    /* column-gap: 1%; */
    /* margin: 0 2%; */
    /* height: 13em;  */
    grid-row-start: 2;
    max-width: 100%;
    object-fit: cover;

}

p.room {
    grid-row-start: 3;
    grid-row-end: 4;
    /* grid-column-start: 2;
    grid-column-end: 3;*/
}
div.room {
    width: 100%;
}

div.teacher {
    display: grid;
    background-color: white;
}

h2.teacher {
    color: #003A2C;
}

div.history {
    display: grid;
    background-color: #003A2C;
    color: white;
    /* grid-template-columns: 70% 20%; */
    column-gap: 5%;
}
h2.history {
    grid-column-start: 1;
    grid-column-end: 3;
}



div.level {
    display: grid;
    background-color: white;
    grid-template-columns: 40% 58%;
    gap: 2%;
    place-items: center;
}
h2.level{
    color: #003A2C;
}
h3.level {
    color: #004E42;
    grid-column-start: 1;
    text-align: left;

}

div.level p {
}

img.learning {
    max-width: 100%;
    grid-column-start: 1;
    align-items: center;
}

div.timeline {
    display: grid;
    background-color: #004E42;
    color: white;
    white-space: pre;
}

div.contest {
    display: grid;
    background-color: white;
    grid-template-columns: 50% auto;

}
h2.contest {
    grid-column-start: 1;
    grid-column-end: 3;
}
img.contest {
    max-width: 100%;
}
section.contest {
    grid-column-start: 1;
    grid-column-end: 3;
}



div.achievement {
    display: grid;
    background-color: #003A2C;
    color: white;
    grid-template-columns: 50% 35%;
    gap: 1% 7%;
    
}
h2.result {
    grid-column-start: 1;
    grid-column-end: 3;
}
p.achievement {
    font-size: 1.3em;
}
img.prize {
    grid-column-start: 2;
    max-width: 100%;
    margin: 0 3% 10% 0;
}


div.about {
    display: grid;
    background-color: white;

}
h2.about {
    color: #003A2C;

}
h3.inschool {
    margin: 2% 4%;
}

h4.class {
    margin: 1.5% 4.5%;
}

p.info {
    font-size: 1.5vw;
    margin: 1% 5%;
}

a {
    color: #00AB8E;
}
div.licence {
    display: grid;
    background-color: #004E42;
    color: white;
    text-align: center;
    font-size: 0.75vw;
}
p.licence {
    margin: 1%;
}

