@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Public sans';
    margin: 0;
}
section.hero-img {
    color: white;
    background-color: rgb(68, 68, 68);
    background-image: url(../images/hero\ img.png);
    text-align: center;
    font-size: 5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    font-size: auto;
    text-align: left;

}
section.heading {
    display: grid;
    background-color: #003A2C;
}

img.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 15%;

    margin: 10px;
}

div.gridlayout {
    display: grid;
    /* grid-column: 2; */
}
h2 {
    margin: 0.5em 2%;
    font-size: 2em;
}
h3 {
    margin: 4%;
}
p {
    margin: 1em 5%;
    font-size: 1.5em;
    line-height: auto;
}
div.intro {
    display: grid;
}
h2.intro-title {
    grid-row-start: 1;
    grid-row-end: 2;
    color: #003A2C;
}
p.intro-info {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    /* width: 50%; */
}
img.intro {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
div.room {
    display: grid;
    
    background-color: #004E42;
    color: white;
   
}
h2.room {
    grid-row-start: 1;
    grid-row-end: 2;
}
div.room-image{
    margin: 0 2%;
    display: grid;
    grid-template-columns: 14.64% 27.45% 27.45% 27.45%;
    column-gap: 1%;
    align-items: center;

}
img.room {
    /* column-gap: 1%; */
    /* margin: 0 2%; */
    /* height: 13em;  */
    grid-row-start: 2;
    max-width: 100%;
    object-fit: cover;

}

p.room {
    grid-row-start: 3;
    grid-row-end: 4;
    /* grid-column-start: 2;
    grid-column-end: 3;*/
}
div.room {
    width: 100%;
}

div.teacher {
    display: grid;
    background-color: white;
}

h2.teacher {
    color: #003A2C;
}

div.history {
    display: grid;
    background-color: #003A2C;
    color: white;
    grid-template-columns: 70% 20%;
    column-gap: 5%;
}
h2.history {
    grid-column-start: 1;
    grid-column-end: 3;
}
img.prize {
    /* grid-column-start: 2; */
    max-width: 100%;
    margin: 0 3% 10% 0;
}


div.level {
    display: grid;
    background-color: white;
    grid-template-columns: 40% 58%;
    gap: 2%;

}
h2.level{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #003A2C;

}
h3.beginner{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
h3.advance{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
p.beginner1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
p.beginner2{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
p.advance1{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}
p.advance2{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
}
div.level img {
    width: 40vw;
}
img.learning1 {
    margin: 1em;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
img.learning2 {
    margin: 1em;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
img.learning3 {
    margin: 1em;
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
h3.level {
    color: #004E42;

}

div.timeline {
    display: grid;
    background-color: #004E42;
    color: white;

}

div.contest {
    display: grid;
    background-color: white;

}

div.resource {
    display: grid;
    background-color: #003A2C;
    color: white;
    
}

div.about {
    display: grid;
    background-color: white;

}
h2.about {
    color: #003A2C;

}
div.licence {
    display: grid;
    background-color: #004E42;
    color: white;
    text-align: center;
    font-size: 0.75em;
}